@use '../util/' as u;

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  position: relative;

  width: 20.5rem;
  height: 40.75rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #17181A;
  overflow: hidden;

  @include u.max-breakpoint(u.$sm) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding-bottom: 6rem;
  }
}