.output {
  margin-bottom: 4rem;

  #formula, 
  #display {
    text-align: right;
    overflow: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
			height: 6px;
			background-color: #272829;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #999;
			border-radius: 3px;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}
  }

  #formula {
    font-size: 1.5rem;
    color: #818181;
    height: 2.563rem;
  }

  #display {
    font-size: 3rem;
    color: #ffffff;
  }
}

