@use '../util/' as u;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #A0D7FF;
  font-family: u.$poppins;
}

button {
  border-radius: 0.85rem;
  font-family: u.$poppins;
  font-size: 1.5rem;
  font-weight: 500;
  color: #29A8FF;
  border: none;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;

  &:hover {
    cursor: pointer;
  }
}